#data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    padding: 40px 40px;
}
#data > div {
    padding: 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#data > div img {
    height: 300px;
    margin-left: 120px;
}

#data > div h2 {
    font-size: 30px;
    font-weight: bold;
}

#data > div h3 {
    font-size: 30px;
    font-weight: lighter;
    color: grey;
    margin-top: 20px;
}

#price {
    display: flex;
    width: 50%;
}

#nprice {
    margin: auto;
    font-size: 35px;
    font-weight: bold;
}

#aprice {
    font-size: 25px;
    text-decoration-line: line-through;
    color: grey;
    margin: auto;
}

#discount {
    font-size: 25px;
    color: green;
    font-weight: bold;
    margin: auto;
}